html, body {
	position: relative;
	width: 100%;
	height: 100%;
	
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	background-attachment: fixed;
}

body {
	color: #1A202C;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
